*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-grey{
    background: rgb(243, 240, 234);
    padding: 0 40px 40px;
    margin-top: 40px;
}
label{
    font-size: 18px;
    font-weight: 500;
}
input[placeholder]{
    font-size: 15px;
}